[Unit]
Description=Jetson PPP Connection Manager
# NEEDS TO BE CHANGED TO YOUR DEVICE
After=dev-sixfab03.device
# OR
# After=network.target

[Service]
Type=simple
ExecStart=/bin/bash jetson_ppp_connection_manager.sh
WorkingDirectory=/opt/sixfab/ppp_connection_manager
StandardOutput=inherit
StandardError=inherit
RemainAfterExit=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
